/* CYAN #1DBEB4 */
/* GRIS OSCURO #383B58 */
/* GRIS CLARO #545776 */
/* BLANCO #F3F1ED */

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TEXT */
.center {
  text-align: center;
}

.size-2 {
  font-size: 2em;
}

/* COLORS */
.cyan {
  color: #1dbeb4;
}

.grey {
  color: #545776;
}

.white {
  color: white;
}

/* DISPLAY */
.flex {
  display: flex;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.z-1 {
  z-index: 1;
}

/* FLEX SETTINGS */

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.wrap {
  flex-wrap: wrap;
}

.grow-1 {
  flex-grow: 1;
}

.itemContainer {
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

/* WIDTH */

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* HEIGHT */
.h-150px {
  height: 150px;
}

.h-100 {
  height: 100%;
}

/* MARGIN */
.m-auto {
  margin: auto;
}

.m-10 {
  margin: 10px;
}

.m-sides {
  margin: auto 5px;
}

.m-bottom {
  margin-bottom: 100px;
}

.m-bottom-5 {
  margin-bottom: 5px;
}

.m-bottom-10 {
  margin-bottom: 10px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-50 {
  margin-bottom: 50px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-70 {
  margin-top: 70px;
}

.inline-block {
  display: inline-block;
}

.fit-cover {
  object-fit: cover
}

/* PADDING */
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-5-0 {
  padding: 5px 0px;
}

.p-10-20 {
  padding: 10px 20px;
}


/* CURSOR */
.cursor-default {
  cursor: default
}

.cursor-pointer {
  cursor: pointer;
}

/* OTROS */
.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

/* STANDARD SHADOW */
.shadow {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

/* BORDER */
.border-none {
  border: none;
  outline: none;
}

.border-cyan {
  border: 2px solid #1dbeb4;
}

.border-grey {
  border: 2px solid grey;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

/* BG */
.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #545776;
}

.bg-cyan {
  background-color: #1dbeb4;
}

/* POSITION */
.sticky-top {
  position: sticky;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.decoration-none {
  text-decoration: none;
}

.text-decoration-line {
  text-decoration-line: none;
}

/* SKELETONS */
.skeleton-h2,
.skeleton-p {
  color: rgba(255, 255, 255, 0);
  background-color: #e9eef0;
  border-radius: 20px;
}

.skeleton-container {
  animation-name: skeleton;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes skeleton {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

/* CUSTOM */
.socialMediaIcon {
  width: 20px;
  height: 20px;
}

.divBurger {
  /* display: inline-block; */
  /* position: absolute; */
  right: 20px;
  z-index: 2;
}

.logo-link {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.user-logo {
  font-size: 1.5em;
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin: auto 10px;
  background-color: #545776;
}

.formItem {
  height: 40px;
  flex-grow: 0.3;
}

.city {
  padding-left: 10px;
  height: 40px;
  border-top: none;
}

.city:hover {
  background-color: #545776;
  color: #f3f1ed;
}

.category-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardProduct {
  width: 600px;
  height: 300px;
}

/* .dateRangeInput {
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
  outline: 1px solid #383B58;
  background: white;
} */

.rdrMonths,
.rdrMonthsHorizontal {
  justify-content: space-around;
}

/* MEDIA QUERIES */

/* TABLET */
@media (max-width: 768px) {
  .t-display-none {
    display: none;
  }

  section.user-buttons {
    justify-content: space-between;
  }

  /* TABLET SEARCHBAR */
  .dateRangeInput {
    width: 80%;
  }
}

/* MOBILE */
@media (max-width: 600px) {

  .m-display-none {
    display: none;
  }

  /* SEGUIR TRABANDO EN MOBILE A PARTIR DE ACA */

  /* MOBILE BURGER */
  .burgerButton {
    font-size: 30px;
    color: black;
    float: right;
    margin-right: 15px;
    cursor: pointer;
    display: block;
  }

  .user-buttons-open {
    position: fixed;
    height: 100vh;
    width: 50%;
    padding-top: 102px;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f3f1ed;

    box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
  }

  .user-buttons-open a {
    color: #1dbeb4;
    font-weight: bold;
    background-color: #f3f1ed;
    border: 2px solid #1dbeb4;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 10px;
  }

  /* MOBILE HEADER */
  .logo {
    justify-content: space-between;
  }

  header section.logo {
    flex-grow: 6;
    color: #545776;
    display: flex;
    align-items: center;
    padding: 15px 20px;
  }

  /* MOBILE SEARCHBAR */
  .searchBar {
    height: auto;
  }

  .searchBar form {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }

  .formItem {
    width: 100%;
  }

  .searchBar button {
    padding: 0px;
  }

  .card {
    display: flex;
    width: 600px;
    height: 550px;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;

  }

  .card img {
    width: 111%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
  }

  .descripcion-info {
    margin-top: 15px;
  }

  .recommendations {
    background-color: #383B58;
  }

  .recommendations h2 {
    color: white;
  }

  .category {
    width: 310px;
    height: 250px;
  }

  .boton {
    margin-left: 40px;
  }

  .logo-container {
    width: 20%;
  }
}