/* CYAN #1DBEB4 */
/* GRIS OSCURO #383B58 */
/* GRIS CLARO #545776 */
/* BLANCO #F3F1ED */

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f3f1ed;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header section.logo {
  flex-grow: 6;
  color: #545776;
  display: flex;
  align-items: center;
  padding: 15px 40px;

}

ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  list-style: none;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

header section.logo span {
  left: 123px;
  right: 925px;
  top: 39px;
  bottom: 18px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: black;
}

header section.logo a {
  text-decoration: none;
}

.user-buttons a {
  color: #1dbeb4;
  font-weight: bold;
  background-color: #f3f1ed;
  border: 2px solid #1dbeb4;
  border-radius: 5px;
  padding: 10px 100px;
  margin-left: 10px;
}


header .user-logo {
  background-color: #545776;
  padding: 5px;
  border-radius: 50%;
}

main {
  background-color: #f3f1ed;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.searchForm {
  background-color: #545776;
  height: 200px;
  text-align: center;
}

.searchForm h1 {
  color: white;
}

.card {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  width: 635px;
  height: 283px;
  border-radius: 10px;
}

.card div {
  width: 50%;
  height: 100%;
}

.card img {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card div:nth-child(2) {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card button {
  margin: auto;
  margin-bottom: 10px;
  color: #f3f1ed;
  background-color: #1dbeb4;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 10px;
}

footer {
  width: 100%;
  color: #f3f1ed;
  background-color: #1dbeb4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer section img {
  padding: 10px;
  padding-right: 30px;

}

footer section span {
  padding-left: 30px;

}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


@media (max-width: 952px) {

  .logo a {
    justify-content: space-between;
  }

  .logo span {
    display: none;
  }

  header section.logo {
    flex-grow: 6;
    color: #545776;
    display: flex;
    align-items: center;
    padding: 15px 30px;
  }

  ul {
    padding: 0px 10px;
  }

  /* TABLET */
  @media (max-width: 768px) {

    .checkbtn {

      display: block;
    }

    .user-buttons {
      display: none;
    }

    .user-buttons-open {
      position: fixed;
      height: 100vh;
      width: 50%;
      top: 0px;
      right: 0px;
      display: flex;
      flex-direction: column;
      background-color: #f3f1ed;

      box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
    }

    .user-buttons-open a {
      color: #1dbeb4;
      font-weight: bold;
      background-color: #f3f1ed;
      border: 2px solid #1dbeb4;
      border-radius: 5px;
      padding: 10px 100px;
      margin-left: 10px;

    }

    .logo {
      justify-content: space-between;
    }

    .logo span {
      display: none;
    }

    footer section img {
      display: none;
    }

    footer {
      height: 50px;
    }

    header section.logo {
      flex-grow: 6;
      color: #545776;
      display: flex;
      align-items: center;
      padding: 15px 20px;
    }
  }
}

/* MOBILE */
@media (max-width: 414px) {

  .checkbtn {

    display: block;
  }

  .user-buttons {
    display: none;
  }

  .user-buttons-open {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #f3f1ed;

    box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 28px 9px rgba(0, 0, 0, 0.75);
  }

  .user-buttons-open a {
    color: #1dbeb4;
    font-weight: bold;
    background-color: #f3f1ed;
    border: 2px solid #1dbeb4;
    border-radius: 5px;
    padding: 10px 100px;
    margin-left: 10px;

  }

  .logo {
    justify-content: space-between;
  }

  .logo span {
    display: none;
  }

  footer section img {
    display: none;
  }

  footer {

    height: 50px;
  }

  header section.logo {
    flex-grow: 6;
    color: #545776;
    display: flex;
    align-items: center;
    padding: 15px 20px;

  }
}