.successfulContainer {
    text-decoration: none;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successful {
    text-decoration: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 300px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.successful h2 {
    font-size: 24px;
    color: #1DBEB4;
    border: none;
}

.okButton {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    background-color: #1DBEB4;
    font-weight: bold;
    height: 5vh;
    width: 18vh;
    border-color: #1DBEB4;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.okButton Link {
    text-decoration: none;
}
