* {
  margin: 0;
}

header {
  background-color: #F3F1ED;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header a {
  color: #545776;
  display: flex;
  align-items: center;
}

header span {
  padding: 20px;
  /* background-color: ; */
}